.navLogo{
    font-size: 50pt;
    align-content: center;
    color: rgb(68, 3, 68);
}

.welcome{
    font-size: 30pt;
    margin-right: 50px;
    color: rgb(68, 3, 68);
}
.navMenu {
    opacity: .8;
}

.navMenu:hover{
    opacity: 1.0;
}
.jamDiv{
    align-items: center;
    margin-left: 400px;
    position: relative;
}

.welcomePane{
    text-align: 10px;
}