body {
    background-image: url(./imgs/jamImg.jpeg) !important;
    
    /* , linear-gradient(
        to right, rgb(131, 23, 23), rgb(71, 2, 71)
    ) !important;
    background-blend-mode: lighten !important; */
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    background-attachment: fixed !important; 
}

.container{
    background-color: white;
    opacity: .8;
}

.container:hover{
    opacity: 1.0;
    color: rgb(68, 3, 68);
}

.head, .motto{
    text-align: center;
}

.motto{
    font-style: italic;
}

.aboutJams{
    padding: 40px;
    font-size: 20pt;
}

.acronym{
    font-size: 50pt;
    padding: 10px;
}