body {
    background-image: url(./imgs/jamImg.jpeg) !important;
    
    /* , linear-gradient(
        to right, rgb(131, 23, 23), rgb(71, 2, 71)
    ) !important;
    background-blend-mode: lighten !important; */
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    background-attachment: fixed !important; 
}
.landingPageBox{
    margin-bottom: 50px;
}
.container{
    background-color: white;
    opacity: .8;
    border-radius: 30px;
    padding: 40px;
  
}

.container:hover{
    opacity: 1.0;
    color: rgb(68, 3, 68);
}

.head, .motto{
    text-align: center;
}

.motto{
    font-style: italic;
}

.aboutJams{
    padding: 40px;
    font-size: 20pt;
}

.ol{
    /* padding: 40px; */
    font-size: 20pt;
}



/* styling for acronyms on landing page */

.acronymJ, .acronymA, .acronymM, .acronymS{
    font-size: 50pt;
    padding: 10px;
    
}
.acronymJ{
    -webkit-box-shadow: -24px 24px 12px 13px #B757FF; 
    box-shadow: -24px 24px 12px 13px #B757FF;
}

.acronymA{

    -webkit-box-shadow: -24px 24px 12px 13px #FF1243; 
    box-shadow: -24px 24px 12px 13px #FF1243;

}

.acronymM{
    -webkit-box-shadow: -24px 24px 12px 13px #300524; 
box-shadow: -24px 24px 12px 13px #300524;
}

.acronymS{
    -webkit-box-shadow: -24px 24px 12px 13px #BA158A; 
    box-shadow: -24px 24px 12px 13px #BA158A;

}