.carousel{
    background-color: rgb(163, 162, 162);
}

.carouselImg{
    height: 40%;
    width: 40%;
}

h3, p{
    color: black;

}

.bio{
    text-align: right;
}

.abt{
    text-align: center;
}

.sr-only{
    color: black;
}